@{
    ViewBag.Title = "Общая панель";
}

<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.6/interact.min.js"></script>
</head>
<body>
    <div id="container">
        <div class="row page-header">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-5">
                        <h4>Инструменты:</h4>
                    </div>
                    <div class="col-md-7">
                        <select class="form-control" onchange="myFunction()" id="test">
                            <option value="0">Выбирете инструмент</option>
                            @foreach (var b in ViewBag.NameInstrument)
                        {
                            <option value="@b.Id">@b.Name</option>
                    }
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Тайм фреймы:</h4>
                    </div>
                    <div class="col-md-9">
                        <button type="button" class="btn btn-light">Тик</button>
                        <button type="button" class="btn btn-light">1 м.</button>
                        <button type="button" class="btn btn-light">5 м.</button>
                        <button type="button" class="btn btn-light">15 м.</button>
                        <button type="button" class="btn btn-light">1 ч.</button>
                        <button type="button" class="btn btn-light">4 ч.</button>
                        <button type="button" class="btn btn-light">5 ч.</button>
                        <button type="button" class="btn btn-light">День</button>
                        <button type="button" class="btn btn-light">Неделя</button>
                        <button type="button" class="btn btn-light">Месяць</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-9">
                <div id="chart_div">
                </div>
            </div>
            <div class="col-sm-3">
                <div id="cotirovka-info">
                </div>
                <br />
                <div id="stakan-info">
                </div>
                <div id="deal-info">
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/kotirovka-run.js")
    @Scripts.Render("~/Scripts/total-info.js")
</body>
</html>
